.content {
  height: 100%;
  display: flex;
  justify-content: space-between;

  > .edit {
    width: 60%;
    height: 90%;
    border: 1px solid #ccc
  }
}

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  > img {
    width: 40%;
  }

  > span {
    cursor: pointer;
    transition: color 0.2s linear;

    &:hover {
      color: #409eff;
    }
  }
}