.search {
  display: flex;
}

.el-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  > img {
    width: 40%;
  }

  > span {
    cursor: pointer;
    transition: color 0.2s linear;

    &:hover {
      color: #409eff;
    }
  }
}